[submodule "sniffer/src/vendor/websocketpp"]
	path = sniffer/vendor/websocketpp
	url = https://github.com/LocutusOfBorg/websocketpp
	branch = patch-2
[submodule "sniffer/src/vendor/nlohmann_json"]
	path = sniffer/src/vendor/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "sniffer/src/vendor/spdlog"]
	path = sniffer/src/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "sniffer/src/vendor/cppregpattern"]
	path = sniffer/src/vendor/cppregpattern
	url = https://github.com/psalvaggio/cppregpattern
