<table class="ui very basic collapsing celled table">
  <thead>
    <tr>
      <th>No</th>
      <th>Timestamp</th>
      <th>Identifier</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Protocol</th>
      <th>Length</th>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
    <virtual-scroll [items]="receivedPackets" (update)="viewPortItems = $event">
        <packet-list-item *ngFor="let item of viewPortItems" [item]="item">
        </packet-list-item>
    </virtual-scroll>
  </tbody>
</table>
