<virtual-scroll
  [items]="renderablePackets"
  (update)="viewPortPackets = $event"
  (change)="onListChange($event)">

   <packet-list-item
     *ngFor="let packet of viewPortPackets"
     [packet]="packet">
   </packet-list-item>

</virtual-scroll>
<br />
<div class="status">
     Showing <span class="badge">{{indices?.start + 1}}</span>
     - <span class="badge">{{indices?.end}}</span>
     of <span class="badge">{{renderablePackets?.length}}</span>
    <span>({{viewPortPackets?.length}} nodes)</span>
</div>
