<div [ngClass]="['ui', 'info', 'message']">
  <i [ngClass]="['close', 'icon']"></i>
  <div [ngClass]="['header']">
    There's a session available right now. You can either:
  </div>
  <ul [ngClass]="['list']">
    <li>subscribe to it</li>
    <li>or wait for it to finish and create a new one</li>
  </ul>
</div>

<div [ngClass]="['ui', 'action', 'input']">
  <input type="password" #passwordInput>
  <button (click)="subscribeClicked(passwordInput.value)"
    [ngClass]="['ui', 'green', 'green', 'labeled', 'icon', 'button']">
    <i [ngClass]="['fork', 'icon']"></i>
    Subscribe
  </button>
</div>
<div *ngIf="authenticationInfo &&
         !authenticationInfo?.isAuthenticated"
  [ngClass]="['ui', 'negative', 'message']">
  <i [ngClass]="['close', 'icon']"></i>
  <div [ngClass]="['header']">
    Failed to subscribe to sniffing session
  </div>
  <p>The password you've entered is incorrect.</p>
</div>
