<div class="ui info message">
  <i class="close icon"></i>
  <div class="header">
    Applying filters for a capture lets you
  </div>
  <ul class="list">
    <li>isolate the useless output of the capture</li>
    <li>concentrate on the concrete protocol</li>
  </ul>
</div>

<div class="ui fluid icon input">
  <input id="filters" type="text" [(ngModel)]="filters" placeholder="Filters..">
  <i class="plug icon"></i>
</div>
<br />
<button class="ui right labeled icon button next-button" (click)="handleStep()">
  <i class="right arrow icon"></i>
    Next
</button>

