<div [ngClass]="['ui', 'main', 'container']">
  <h2 [ngClass]="['ui', 'header']">
    <img src="/assets/images/logo.png">
    <div [ngClass]="['content']">
      Netsky
      <div [ngClass]="['sub', 'header']">A remote accessible packet sniffer based on
        libpcap</div>
    </div>
  </h2>
  <div [ngClass]="['ui', 'inverted', 'section', 'divider']"></div>
  <div [ngClass]="['ui', 'small', 'fluid', 'steps']">
    <div id="interface-step" [ngClass]="['disabled', 'step']">
      <i [ngClass]="['plug', 'icon']"></i>
      <div [ngClass]="['content']">
        <div [ngClass]="['title']">Interface</div>
        <div [ngClass]="['description']">Choose the interface to sniff on</div>
      </div>
    </div>
    <div id="filters-step" [ngClass]="['disabled', 'step']">
      <i [ngClass]="['options', 'icon']"></i>
      <div [ngClass]="['content']">
        <div [ngClass]="['title']">Filters</div>
        <div [ngClass]="['description']">Choose filters to apply to the capture</div>
      </div>
    </div>
    <div id="start-step" [ngClass]="['disabled', 'step']">
      <i [ngClass]="['check', 'circle', 'icon']"></i>
      <div [ngClass]="['content']">
        <div [ngClass]="['title']">Start the capture</div>
      </div>
    </div>
  </div>
  <div [ngClass]="['ui', 'inverted', 'section', 'divider']"></div>

  <router-outlet></router-outlet>
</div>
