<div class="ui info message">
  <i class="close icon"></i>
  <div class="header">
    Sharing your capture lets the listeners
  </div>
  <ul class="list">
    <li>see the entire capturing session</li>
    <li>inspect packets</li>
    <li>see statistics</li>
  </ul>
</div>

<div class="ui fluid multiple dropdown" #selectListeners>
  <input type="hidden" name="filters">
  <i class="doctor icon"></i>
  <span class="text">Search listeners...</span>
  <div class="menu">
    <div class="ui icon search input">
      <i class="search icon"></i>
      <input type="text" placeholder="Search listeners...">
    </div>
    <div class="divider"></div>
    <div class="header">
      <i class="tags icon"></i>
      Listener name
    </div>
    <div class="scrolling menu">
      <div *ngFor="let listener of listeners" class="item"
                                              [attr.data-value]="listener.addr">
          <div class="ui red empty circular label"></div>
          {{ listener.name }}
      </div>
    </div>
  </div>
</div>
<br />
<br />
<button class="ui right labeled icon button next-button" (click)="handleStep()">
  <i class="right arrow icon"></i>
    Next
</button>

