<div class="ui fluid labeled icon dropdown button">
  <i class="filter icon"></i>
  <span class="text">Select an interface</span>
  <div class="menu">
    <div class="header">
      Search Issues
    </div>
    <div class="ui left icon input">
      <i class="search icon"></i>
      <input type="text" name="search" placeholder="Search...">
    </div>
    <div class="header">
      <i class="tags icon"></i>
      Filter by tag
    </div>
    <div class="item">
      <div class="ui red empty circular label"></div>
      Important
    </div>
    <div class="item">
      <div class="ui blue empty circular label"></div>
      Announcement
    </div>
    <div class="item">
      <div class="ui black empty circular label"></div>
      Discussion
    </div>
  </div>
</div>
<br />
<button class="ui right labeled icon button next-button">
  <i class="right arrow icon"></i>
    Next
</button>
<br />
<h3 class="ui centered header">or..</h3>
<br />
<div class="ui container center aligned">
  <button class="ui centered secondary button">
    Apply as a listener
  </button>
</div>
